# PostgreSQL Database 
DATABASE_URL=postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DB_NAME>

# Docker Compose database setup
POSTGRES_USER=<USER>
POSTGRES_PASSWORD=<PASSWORD>
POSTGRES_DB=<DB_NAME>

# GitHub OAuth
GITHUB_CLIENT_ID=<YOUR_GITHUB_CLIENT_ID>
GITHUB_CLIENT_SECRET=<YOUR_GITHUB_CLIENT_SECRET>

# NextAuth.js Config
NEXTAUTH_SECRET=<A_RANDOM_SECRET>
NEXTAUTH_URL=http://localhost:3000

# App Secrets
ENCRYPTION_KEY=<32_BYTE_HEX_STRING>
